<div>
    <nav>\
        <div>
            <p>Authentication</p>
        </div>
        <div>
            <ul>
                    <li>
                        <a href="/users/login">Sign-In</a>
                    </li>
                    <li>
                        <a href="/users/register">Sign-Up</a>
                    </li>
            </ul>
        </div>
    </nav>
</div>
