<link rel="stylesheet" href="/css/home.css">
<header>
    <p>Home</p>
</header>
<%if(locals.user){%>
<section id="feed-posts">
    <h4>Posts</h4>
    <form action="/post/create" method="post" id="new-post-form">
        <textarea name="content" cols="30" rows="3" placeholder="Type here..."></textarea>
        <input type="submit" value="Post">
    </form>
<%}%>
    <div id="post-list-container">
        <ul>
            <%for(post of posts){%>
                <li>
                    <p>
                        <%= post.content %>
                            <br>
                            <small>
                                <%= post.user.name %>
                            </small>
                    </p>
                    <div class="post-comments">
                        <% if(locals.user){%>
                            <form action="/comment/create" method="post">
                                <input type="text" name="content" placeholder="type here to add comment...">
                                <input type="hidden" name="post" value="<%= post._id %>">
                                <input type="submit" value="add Comment">
                            </form>
                        <%}%>
                    </div>
                </li>
                <%}%>
        </ul>
    </div>
</section>