    <link rel="stylesheet" href="/css/profile.css">
    <p>Profile</p>


    <% if (user) { %>
        <p>Name: <%= user.name %></p>
        <p>Email: <%= user.email %></p>
    <% } else { %>
        <p>User not found</p>
    <% } %>