<h1>Reset Password</h1>
<form action="/users/reset_password" method="post">
  <input type="hidden" name="accesstoken" value="<%= accesstoken %>" />
  <input type="password" name="password" placeholder="New Password" required />
  <input
    type="password"
    name="confirm_password"
    placeholder="Confirm New Password"
    required
  />
  <button type="submit">Reset Password</button>
</form>
