
<fieldset>
    <legend>Register form</legend>
    <form action="/users/register" method="post">
        <input type="text" name="name" placeholder="Enter name">
        <br>
        <br>
        <input type="text" name="email" placeholder="Enter the email">
        <br>
        <br>
        <input type="password" name="password" placeholder="Enter the password">
        <br>
        <br>
        <input type="password" name="confirm_password" placeholder="Enter the password">
        <br>
        <br>
        <input type="submit" value="Register">
    </form>
</fieldset>

<a href="/users/login">Already have an account? Login here</a>
