<fieldset>
    <legend>Login Form</legend>
    <form action="/users/login" method="post">
        <input type="email" name="email" placeholder="Email ID">
        <br>
        <br>
        <input type="password" name="password" placeholder="password">
        <br>
        <br>
        <input type="submit" value="Login">
    </form>
</fieldset>

<a href="/users/register">Don't have an account? Register here</a>