*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: lightpink;
    .User_details{
    p{
        font-family: monospace;
        font-weight: 500;
        font-size: 30px;
    }
}
}
